<template name="Cloudinary_Upload_Widget">
  <div class="{{#if required}}required{{/if}} field">
    <br />
    <label>Picture to be uploaded</label>
    <div class="fields">
      <div class="twelve wide field">
        <input type="hidden"   name="cloudinaryFileName" placeholder="Please upload image">
        <input type="hidden" name="cloudinaryUrl" disabled="true">
        <input type="hidden" name="cloudinaryThumbnail" disabled="true">
      </div>
      <div class="four wide field">
        <button class="ui button" id="cloudinary-upload-widget">
          Upload image file
        </button>
      </div>
    </div>
    {{> Form_Error_Message errorMessage=errorMessage}}
  </div>
</template>