.grid-container {
    display: grid;
    grid-template-columns: auto minmax(186px, auto) auto;
    background-color: #f2ac4c;
    padding: 10px;
    font-family: 'Bradley Hand';
    text-align: center;  
    color:#f2ac4c;
  }
  
  .grid-container > div {
    background-color:#612121;
    text-align: left;
    font-size: 30px;
    padding: 10px; 
  }

  .grid-container:hover {
    background-color: #612121;    
    text-align: center;
    cursor: pointer;
  }
  
  .grid-container-page {    
    display: grid;
    grid-template-columns: 200px auto auto auto auto;
    background-color: #f2ac4c;
    padding: 10px;
    font-family: cursive;
    text-align: center; 
    color: #612121;
    font-weight: 900;
  }
  
  .grid-container-page > div {
    background-color: #f2ac4c;
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }

  h1 {
    font-family: cursive;
    font-size: 50px;
    text-align: center;
  }
  
  h3 {
    font-family: 'Bradley Hand';
    font-size: 30px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
